main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main article {
    max-width: 50vw;
    line-height: 40px;
    margin-top: 100px;
    background-color: #20252c;
    padding: 2vw;
    border-radius: 20px;
    font-size: 20px;
}

main article button {
    margin-top: 5vh;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & a{
        text-decoration: none;
        color: white;
    }

    span{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    & .material-symbols-outlined{
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
}

main article h1{
    font-size: 40px;
    line-height: 50px;
}

@media (max-width: 479px) {
    /* Styles for phone portrait */
}

@media (min-width: 480px) and (max-width: 767px) {
/* Styles for phone landscape */
}

@media (min-width: 768px) and (max-width: 1024px) {
/* Styles for tablet portrait */
}

@media (min-width: 1024px) and (max-width: 1280px) {
/* Styles for tablet landscape */
}
  