main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    /* margin: 100px auto;    */
    padding: 2vw;   
    border-radius: 20px;
    /* font-size: 13px; */
}

.contact-section {
    max-width: 55vw;
    margin: 50px auto;
    padding: 2vw;
    background-color: #20252c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 5vmin;
    /* font-size: 1rem; */
}

form {
    width: 80%;
}

form div {
    margin: 3vmin 0px;
}

.required {
    width: 100%;
    text-align: right;
    font-size: smaller;
}

label {
    display: block; 
    margin-bottom: 10px;
    color: #ffffff; /* Change label color to white for better contrast */
}

input, textarea {
    font-family: "wotfard",Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;  /* Include padding and border in element's total width and height */
}

textarea {
    height: 30vh;
    resize: none;
    overflow: auto;
}

input:focus,
textarea:focus {
    background-color: #acacac;
}

section button {
    background-color: #14A728; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: inherit;
}

@media (max-width: 479px) {
    /* Styles for phone portrait */
    body{
        background-color: #20252c;
    }
    .contact-section {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: #20252c;
        border-radius: 0px;
    }

    form {
        width: 100%;
        padding: 10px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
/* Styles for phone landscape */
    /* body{
        background-color: #20252c;
    } */

    main {
        max-width: 80vw;
        margin: 0 auto;
        border-radius: 0px;
        padding: 20px;
    }

    .contact-section {
        max-width: 70vw;
    }

    form {
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
/* Styles for tablet portrait */
    main {
        max-width: 80vw;
        margin: 0 auto;
        border-radius: 0px;
        padding: 20px;
    }

    .contact-section {
        max-width: 70vw;
    }

    form {
        padding: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
/* Styles for tablet landscape */
}
  