main {
    max-width: 50vw; 
    /* margin: 100px auto;    */
    padding: 2vw;   
    background-color: #20252c;
    border-radius: 20px;
    font-size: 13px;
}

section {
    margin-bottom: 20px;
}

span {
    color: red;
}

h2 {
    text-align: center;
    font-size: 1rem;
}

form div {
    margin: 30px 0px;
}

label {
    display: block; 
    margin-bottom: 10px;
}

input, textarea {
    font-family: "wotfard",Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;  /* Include padding and border in element's total width and height */
}

textarea {
    height: 30vh;
    resize: none;
    overflow: auto;
}

input:focus,
textarea:focus {
    background-color: #acacac;
}

section button {
    background-color: #14A728; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 13px;
}

#name-email {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10%;

    & div{
        margin: 0;
    }

    & input{
        width: 300px;
    }
}

@media (max-width: 479px) {
    /* Styles for phone portrait */
    body{
        background-color: #20252c;
    }

    main {
        max-width: 100%;
        margin: 0 0;
        border-radius: 0px;
        padding: 20px;
    }

    #name-email{
        flex-direction: column;
        gap: 30px;
        & input{
            width: 100%;
        }
        
    }

    form {
        padding: 10px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
/* Styles for phone landscape */
    body{
        background-color: #20252c;
    }

    main {
        max-width: 80vw;
        margin: 0 auto;
        border-radius: 0px;
        padding: 20px;
    }

    #name-email{
        flex-direction: column;
        gap: 30px;
        & input{
            width: 100%;
        }
        
    }

    form {
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
/* Styles for tablet portrait */
}

@media (min-width: 1024px) and (max-width: 1280px) {
/* Styles for tablet landscape */
}
  