@font-face {
    font-family: 'wotfard';
    src: url('../Fonts/Wotfard-Regular-webfont/wotfard-regular-webfont.woff2') format('woff2'),
        url('../Fonts/Wotfard-Regular-webfont/wotfard-regular-webfont.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "wotfard",Arial, Helvetica, sans-serif;
    color: white;
    /* max-width: 100%; */
    box-sizing: content-box;
    background-image:linear-gradient(45deg,#0D0F12,#039717);
}

header {
    /* background-image:linear-gradient(45deg,#0D0F12,#039717); */
    /* position: fixed; */
    width: 100%;
    /* top: 0; */
    padding: 10px 0;
}

header .header-content {
    padding:0px 20px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

header a{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color:white;
    /* color: black; */
    font-size: 1vw;
}

header .logo {
    color : #14A728;
    font-size: min(20px,4vmin);
    letter-spacing: -1.5px;
    /* font-weight: 500; */
}


header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 40px;
}

nav {
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

.nav__list li a{
    font-size: 1rem;
}

.hamburger{
    /* display: none; */
    visibility: hidden;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 20px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.hamburger__open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger__open .bar:nth-child(2){
    opacity: 0;
}

.hamburger__open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}


footer {
    /* margin-top: 100px; */
    /* background-color: rgb(216, 216, 216); */
    /* background-color: #039717; */
    /* background-image:linear-gradient(45deg,#0D0F12,#039717); */
    display: flex;
    justify-content: center;
    padding: 20px;
    /* align-items: center; */
}

header nav ul li:hover{
    transition: transform ease-in-out 500ms;
    transform: scale(1.1,1.1);
}

.nav__link:focus{
    color: #000000;
}

.nav__open {
    transform: translate(0) !important;
}

aside h2{
    font-size: 7vmin;
    font-weight: 900;
    margin-bottom: 20px;
}

aside p{
    font-size: 5vmin;
    font-weight: 500;
    margin-bottom: 20px;
}

footer .social-links{
    display: flex;
    column-gap: 6vmin;
    align-items: center;

    & a {
        color: white;
        text-decoration: none;
    }

    & span{
        font-size: 6vmin;
    }

    & i {
        font-size: 5vmin;
    }
}

main{
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    height: 100%;
}

main #profile {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main #profile .pp {
    width: 250px;
    /* height: 250px; */
    clip-path: circle();
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
    width: 200px;
    /* height: auto; */
    border-radius: 50%;
    }
}

@media (max-width: 479px) {
    /* Styles for phone portrait */
   

    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color:#161a2b;
        width: 100vw;
        padding: 10px 20px;
        opacity: 0.95;
        transform: translateX(100%);
    }
    
    .nav__list{
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        text-align: center;
    }

    .nav__link{
        font-size: 13px;
        font-weight: 900;
        opacity: 1;
    }

    .hamburger {
        /* display: block; */
        visibility: visible;
    }

    .material-symbol-outlined .icons{
        font-size: 9px;
    }

    #profile {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .pp{
        width: 150px;
    }

    .pp img{
        max-width: 150px;
        max-height: auto;
    }

    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
/* Styles for phone landscape */
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color:#161a2b;
        width: 100vw;
        padding: 10px 20px;
        opacity: 0.95;
        transform: translateX(100%);
    }

    .nav__list{
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        text-align: center;
    }

    .nav__link{
        font-size: 13px;
        font-weight: 900;
        opacity: 1;
    }

    .hamburger {
        /* display: block; */
        visibility: visible;
    }

    .material-symbol-outlined .icons{
        font-size: 9px;
    }

    #profile {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .pp{
        width: 170px;
    }

    .pp img{
        max-width: 170px;
    }

    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
/* Styles for tablet portrait */
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color:#161a2b;
        width: 100vw;
        padding: 10px 20px;
        opacity: 0.95;
        transform: translateX(100%);
    }

    .nav__list{
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        text-align: center;
    }

    .nav__link{
        font-size: 13px;
        font-weight: 900;
        opacity: 1;
    }

    .hamburger {
        /* display: block; */
        visibility: visible;
    }

    .material-symbol-outlined .icons{
        font-size: 9px;
    }

    #profile {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .pp{
        width: 200;
    }

    .pp img{
        max-width: 200px;
    }

    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
/* Styles for tablet landscape */
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color:#161a2b;
        width: 100vw;
        padding: 10px 20px;
        opacity: 0.95;
        transform: translateX(100%);
    }
    
    .nav__list{
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        text-align: center;
    }

    .nav__link{
        font-size: 13px;
        font-weight: 900;
        opacity: 1;
    }

    .hamburger {
        /* display: block; */
        visibility: visible;
    }

    .material-symbol-outlined .icons{
        font-size: 9px;
    }

    .footer-li{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

  